@import url('https://fonts.googleapis.com/css2? family= Cormorant+Garamond:ital,wght@0,400;0,700;1,600 & display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: 1px red solid;
  list-style: none;
  
}
.body {
  background:url(./img/charlota.png);
  font-family: "Garamond", sans-serif;
  color: white;
  font-weight: 700;
}
.cabeza {
  background-color: #dae8ec;
  height: 80px;
  width: 100%;
  box-shadow: 0px 10px 10px -1px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
}
.fa-solid {
  display: none;
}
.menu-toggle{
  display: none;
}
.toggle{
  display: flex;
  justify-content: space-evenly;
  width: 40vw;
  margin-top: 20px;
}
.toggle li{
  color: black;
}
.toggle li:hover{
  background-color: white;
  color:black ;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  transition: all 0.3;
}
.img {
  height: 75%;
  margin-top: 10px;
}
.titulo{
  font-size: 3rem;
}
.modelos {
  margin: 120px 0px 0px 0px;
}
.modelos:hover{
  transform: scale(1.1);
  transition: all 0.3s;
}
.caja {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.texto {
  height: 330px;
  width: 640px;
  padding-top: 100px;
  /* margin-right: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.texto h3{
  margin-top: 10px;
}
.texto p{
margin-top: 20px;
}
.btn{display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.btn-a{
  height: 8vh;
  width: 18vw;
  margin-right:40px;
  border-radius:2em;
  background-color: black;
  color: white;
  cursor: pointer;

}
.btn-b{
  height: 8vh;
  width: 18vw;
  border-radius: 2em;
  cursor: pointer;
}
.parrafo_caja{
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  width: 90vw;
  /* padding: 10px; */
  margin: 150px 20px;
  box-shadow: 5px 5px 5px  rgba(0, 0, 0, 0.5);
  line-height: 170%;
}
.parrafo_caja_a{
  text-align: center;
  width: 95vw;  
}
.encabezad-n{
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 100px;
}
.encabezad-n h2{
  margin-bottom: 20px;
}
.encabezad-n p{
  padding: 0px 15px 0px 15px;
}
.iconos{
display: flex;
justify-content:space-around;
align-items: baseline;
flex-wrap: wrap;

}
.icono{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom:  100px;px;
  width:200px;
}
.icono h3{
  padding: 20px 0 20px;
}
.logo{
  width: 150px;
  height: 150px;
}
.circulo{
  border-radius: 50%;
  color:black;
  border: none;
  background-color: white;
  padding: 1.5rem 1.5rem;
  font-size: 2rem;
  font-weight: 700;
}
.fixed{
  height: 50px;
  width: 50px;
  position: fixed;
  right: 25px;
  bottom:25px;
}
.fixed:hover{
  transform: scale(1.2);
  transition: all 0.3s;
}
.n-productos{margin-bottom: 60px;  text-align: center;
  
}
/* Aca empieza la cars */
.vidrio{
  height: 300px;
  width: 220px;
background: rgba(255, 255, 255, 0.1);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.6px);
border: 1px solid rgba(255, 255, 255, 0.31);
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.vidrio-texto{
  display: flex;}
  .vidrio-texto span{
    margin-right: 60px;
  }

.vidrio img{
  height: 250px;
  width: 150px;
}
.products{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.vidrio:hover {
  transform: scale(1.3);
  transition: all 0.3s;
}
.links-ab a{
  color:black;
  display: flex;
  margin:0px 15px;
  background: rgba(255, 255, 255, 0.7);
  padding: 5px;
}
.links-ab{
  color: white;
  display: flex;
  padding: 0.9rem;
  border: none;
  border-radius: 10px;
  position: absolute;
  bottom: 35px;
  transform: scale(1.3);
  transition: all 0.3s;
  display: none;
}
.links-ab:hover{
  display: flex;
}

.fa-brands{
  font-size: 3rem;
  color: white;
}
.redes{
  background: rgba(255, 255, 255, 0.11);
  margin: 65px auto;
  width: 100%;
  padding-bottom:25px;
  display: flex;
  flex-direction: column;
}

  .redes h2{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 40px;
    width: 100%;
  }
  .redes-links{
    width: 100%;
    display: flex; 
    justify-content: space-around;
    
  }
  .redes-links p{
    font-size: 2rem;
  }
  .iconos-redes{
    display: flex;
    align-items: center;
  }
 .iconos-redes a{
  padding: 0px 15px;
 }




  .footer{
    width: 100%;
    height: 35%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .caja-footer{
    width: 80%;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
  }
 .caja-footer h3{
  margin-bottom: 15px;
 }
 .item-1{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
 }
.iconos-f{
  color: white;
  width: 100%;
  display: flex;
}
.iconos-f p{
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}
.iconos-f img{
  width: 50px;
  height: 50px;
  border-radius: 60%;
}
.mail-f{
  display:flex ;
}
.img-iconos-f{
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.contacto-f{
  display: flex;
  flex-direction: column;
  padding: 25px;
}

 @media (max-width: 1000px){  /* este media hace que cambie cuando hago la pantalla mas chica. guey*/
.body{ 
  background:url(./img/charlota.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;} 

.cabeza{
  width: 100%;
  display: flex;
}
.hamburguesa{
  display: flex;
  flex-direction: column;
}
.fa-solid {
  display: flex;
  font-size: 2rem;
  margin: 15px 20px 0px 0px ;
}
.menu-toggle {
  display: none;
}
.toggle {
  display: none;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.6px);
  border: 1px solid rgba(255, 255, 255, 0.31);
  margin: 35px 30px 0px 0px;
  width: 80%;
  height: 170%;
  border-radius: 1rem;
  font-weight: 600;
}
.toggle li {
  display: block;
  padding: 10px 0;
  color: white;
}
.menu-toggle:checked + .toggle {
  display: block;
}

.caja{ 
  display: flex;
}
.modelos-caja .modelos{
  display: none;
}
.texto {
  width: 90%;
  height: auto;
}
.encabezad-n p{ 
  text-align: center;
  padding: 0px 15px 0px 15px;
  width: 100%;
}
.btn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-a{
  border: none; 
  width: 30vw; 
  margin-left: 40px;
}
.btn-b{
  border: none;
  width: 30vw;
  margin-top: 25px;
}
.parrafo_caja p{
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 170%;
}
.redes{
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}
.redes-links{
  width: 100%;
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}
.redes-links i{
  margin: 10px auto;
  width: 100%;
}
.caja-footer{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.iconos-f{display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item-1{
  margin-bottom: 25px;
}

.footer{
  width: 100%;
  height: 25%;
  background-color: black;
  display: flex;
  flex-direction: column;
}

@media (max-width: 700px){ 
/* aca es para el celu y tablet. */
.btn_0{
  display: flex;
  flex-direction: column;
}
.btn-a{
  width: 11rem;
  border: none; 
  width: 30vw;
}
.btn-b{
  width: 11rem;
  border: none;
  width: 30vw;
}
.caja-footer{
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-1 .iconos-f{display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contactanos-f{
  margin-bottom: 10px;
}
.pagos-f{
  margin-top: 30px;
  width: 70%;
}
.pagos-f img{
  width: 100%;
}
